body > footer.container,
body > footer.container-fluid,
body > header.container,
body > header.container-fluid,
body > main.container,
body > main.container-fluid {
	border: double 5px #ddd;
}

body > footer > .row,
body > header > .row {
	background-color: #ddd;
	height: 160px;
}

body > main.container,
body > main.container-fluid {
	margin: 2px auto;
}

code {
	white-space: nowrap;
}

h6.code {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	margin: 12px;
}

.h-in-column {
	background-color: #a5e89b;
	border: solid 1px #3d9930;
	margin-top: 2px;
}

.col-12.h,
.h-in-nothing {
	background-color: #a5e89b;
	border: solid 1px #3d9930;
	margin: 2px;
	width: calc( 100% - 4px );
}

.h-in-row {

}

.h-common-content {
	background-color: #ffe0a6;
	border: solid 2px orange !important;
	margin-top: 8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
	border: solid 2px orange;
	margin-top: 2px;
}

.col-12 {
	border: solid 2px red;
	margin: 2px;
	max-width: calc( 100% - 4px );
	padding-bottom: 2px;
}

.row {
	border: double 5px #aaa;
	margin: 2px -13px;
}

.row > article > .row,
.row > div > .row {
	border-color: #777;
}

.row.d > .col-12 {
	background-color: #a5e89b;
	border: solid 1px #3d9930;
}

